@inject GameManagerService GameManagerService
@inject LocalizationService LocalizationService

<div class="flex flex-col my-5">
    <BoardLine RowIndex="0">
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 0].Value" CellState="GameManagerService.BoardGrid[0, 0].State" RowIndex="0" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 1].Value" CellState="GameManagerService.BoardGrid[0, 1].State" RowIndex="0" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 2].Value" CellState="GameManagerService.BoardGrid[0, 2].State" RowIndex="0" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 3].Value" CellState="GameManagerService.BoardGrid[0, 3].State" RowIndex="0" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 4].Value" CellState="GameManagerService.BoardGrid[0, 4].State" RowIndex="0" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="1">
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 0].Value" CellState="GameManagerService.BoardGrid[1, 0].State" RowIndex="1" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 1].Value" CellState="GameManagerService.BoardGrid[1, 1].State" RowIndex="1" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 2].Value" CellState="GameManagerService.BoardGrid[1, 2].State" RowIndex="1" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 3].Value" CellState="GameManagerService.BoardGrid[1, 3].State" RowIndex="1" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 4].Value" CellState="GameManagerService.BoardGrid[1, 4].State" RowIndex="1" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="2">
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 0].Value" CellState="GameManagerService.BoardGrid[2, 0].State" RowIndex="2" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 1].Value" CellState="GameManagerService.BoardGrid[2, 1].State" RowIndex="2" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 2].Value" CellState="GameManagerService.BoardGrid[2, 2].State" RowIndex="2" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 3].Value" CellState="GameManagerService.BoardGrid[2, 3].State" RowIndex="2" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 4].Value" CellState="GameManagerService.BoardGrid[2, 4].State" RowIndex="2" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="3">
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 0].Value" CellState="GameManagerService.BoardGrid[3, 0].State" RowIndex="3" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 1].Value" CellState="GameManagerService.BoardGrid[3, 1].State" RowIndex="3" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 2].Value" CellState="GameManagerService.BoardGrid[3, 2].State" RowIndex="3" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 3].Value" CellState="GameManagerService.BoardGrid[3, 3].State" RowIndex="3" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 4].Value" CellState="GameManagerService.BoardGrid[3, 4].State" RowIndex="3" ColumnIndex="4" />
    </BoardLine> 
    
    <BoardLine RowIndex="4"> 
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 0].Value" CellState="GameManagerService.BoardGrid[4, 0].State" RowIndex="4" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 1].Value" CellState="GameManagerService.BoardGrid[4, 1].State" RowIndex="4" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 2].Value" CellState="GameManagerService.BoardGrid[4, 2].State" RowIndex="4" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 3].Value" CellState="GameManagerService.BoardGrid[4, 3].State" RowIndex="4" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 4].Value" CellState="GameManagerService.BoardGrid[4, 4].State" RowIndex="4" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="5">
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 0].Value" CellState="GameManagerService.BoardGrid[5, 0].State" RowIndex="5" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 1].Value" CellState="GameManagerService.BoardGrid[5, 1].State" RowIndex="5" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 2].Value" CellState="GameManagerService.BoardGrid[5, 2].State" RowIndex="5" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 3].Value" CellState="GameManagerService.BoardGrid[5, 3].State" RowIndex="5" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 4].Value" CellState="GameManagerService.BoardGrid[5, 4].State" RowIndex="5" ColumnIndex="4" />
    </BoardLine>
</div>

<div class="flex-col items-center justify-start h-[180px] w-screen max-w-[480px] gap-3 @NextWordClasses">
    <p class="text-2xl font-bold">@GetNextWordMessage()</p>
    @if (GameManagerService.GameState == GameState.GameOver)
    {
        <p>@LocalizationService["GameboardTheWordWas"]: @GameManagerService.Solution</p>
    }
    <p class="text-2xl">@LocalizationService["GameboardNextWordCountdown"] @_timeLeftForNextWord</p>
    <Button Text="@LocalizationService["StatsTitle"]" OnClick="@ShowStats" Class="mt-2" />
</div>

<div class="@KeyboardContainerClasses">
    <CascadingValue Value="this">
        <Keyboard />
    </CascadingValue>
</div>

<div class="h-[90px]"></div>