@inject GameManagerService GameManagerService

<div class="flex flex-col my-10">
    <BoardLine RowIndex="0">
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 0].Value" CellState="GameManagerService.BoardGrid[0, 0].State" RowIndex="0" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 1].Value" CellState="GameManagerService.BoardGrid[0, 1].State" RowIndex="0" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 2].Value" CellState="GameManagerService.BoardGrid[0, 2].State" RowIndex="0" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 3].Value" CellState="GameManagerService.BoardGrid[0, 3].State" RowIndex="0" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[0, 4].Value" CellState="GameManagerService.BoardGrid[0, 4].State" RowIndex="0" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="1">
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 0].Value" CellState="GameManagerService.BoardGrid[1, 0].State" RowIndex="1" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 1].Value" CellState="GameManagerService.BoardGrid[1, 1].State" RowIndex="1" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 2].Value" CellState="GameManagerService.BoardGrid[1, 2].State" RowIndex="1" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 3].Value" CellState="GameManagerService.BoardGrid[1, 3].State" RowIndex="1" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[1, 4].Value" CellState="GameManagerService.BoardGrid[1, 4].State" RowIndex="1" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="2">
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 0].Value" CellState="GameManagerService.BoardGrid[2, 0].State" RowIndex="2" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 1].Value" CellState="GameManagerService.BoardGrid[2, 1].State" RowIndex="2" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 2].Value" CellState="GameManagerService.BoardGrid[2, 2].State" RowIndex="2" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 3].Value" CellState="GameManagerService.BoardGrid[2, 3].State" RowIndex="2" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[2, 4].Value" CellState="GameManagerService.BoardGrid[2, 4].State" RowIndex="2" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="3">
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 0].Value" CellState="GameManagerService.BoardGrid[3, 0].State" RowIndex="3" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 1].Value" CellState="GameManagerService.BoardGrid[3, 1].State" RowIndex="3" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 2].Value" CellState="GameManagerService.BoardGrid[3, 2].State" RowIndex="3" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 3].Value" CellState="GameManagerService.BoardGrid[3, 3].State" RowIndex="3" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[3, 4].Value" CellState="GameManagerService.BoardGrid[3, 4].State" RowIndex="3" ColumnIndex="4" />
    </BoardLine> 
    
    <BoardLine RowIndex="4"> 
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 0].Value" CellState="GameManagerService.BoardGrid[4, 0].State" RowIndex="4" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 1].Value" CellState="GameManagerService.BoardGrid[4, 1].State" RowIndex="4" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 2].Value" CellState="GameManagerService.BoardGrid[4, 2].State" RowIndex="4" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 3].Value" CellState="GameManagerService.BoardGrid[4, 3].State" RowIndex="4" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[4, 4].Value" CellState="GameManagerService.BoardGrid[4, 4].State" RowIndex="4" ColumnIndex="4" />
    </BoardLine>
    
    <BoardLine RowIndex="5">
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 0].Value" CellState="GameManagerService.BoardGrid[5, 0].State" RowIndex="5" ColumnIndex="0" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 1].Value" CellState="GameManagerService.BoardGrid[5, 1].State" RowIndex="5" ColumnIndex="1" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 2].Value" CellState="GameManagerService.BoardGrid[5, 2].State" RowIndex="5" ColumnIndex="2" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 3].Value" CellState="GameManagerService.BoardGrid[5, 3].State" RowIndex="5" ColumnIndex="3" />
        <BoardCell CellValue="GameManagerService.BoardGrid[5, 4].Value" CellState="GameManagerService.BoardGrid[5, 4].State" RowIndex="5" ColumnIndex="4" />
    </BoardLine>
</div>

<div class="flex-col items-center justify-start h-[164px] w-screen max-w-[480px] @NextWordClasses">
    <p class="text-2xl mb-4 font-bold">@GetNextWordMessage()</p>
    <p class="text-2xl">Siguiente palabra en @currentTime</p>
    @*<Button Text="JUGAR MÁS" Icon="play" OnClick="@PlayAgain" />*@
</div>

<div class="@KeyboardContainerClasses">
    <CascadingValue Value="this">
        <Keyboard />
    </CascadingValue>
</div>

<div class="h-[105px]"></div>