@inject GameManagerService GameManagerService

<div class="board">

    @for (int i = 0; i < GameManagerService.RowSize; i++)
    {
        @for (int j = 0; j < GameManagerService.ColumnSize; j++)
        {
            <div class="board-box @GetBoardCellStateCssClass(GameManagerService.BoardGrid[i, j].State)">
                @GameManagerService.BoardGrid[i, j].Value
            </div>
        }
    }

</div>

<div class="@NextWordClasses">
    <h2>@GetNextWordMessage()</h2>
    <Button Text="JUGAR MÁS" Icon="play" OnClick="@PlayAgain" />
</div>

<div class="@KeyboardContainerClasses">
    <CascadingValue Value="this">
        <Keyboard />
    </CascadingValue>
</div>